.menu-bar {
  width: 260px;
  height: 100%;
  background: #ffffff;
  border-radius: 18px;
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.08);
}


.header {
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 12px 8px 20px;
    border-bottom: 1px solid #e5e7eb;
}

.title{
    color: #465774;
    font-size: 19px;
    font-weight: 600;

}

.logo{
    display: flex;
    color: #465774;
    align-items: center;
    justify-self: start;
    gap: 3px;
}
.list-menu {
  display: flex;
  flex-direction: column;
  gap: 6px;
  margin-top: 8px;
}

.menu-list {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 10px 12px;
  border-radius: 10px;
  font-size: 14px;
  font-weight: 500;
  color: #67748e;
  text-decoration: none;
  transition: all 0.2s ease;
}

.menu-icon {
  width: 18px;
}

/* Hover */
.menu-list:hover {
  background: #f6f9fc;
  color: #344767;
}

/* Active */
.menu-list.active {
  background: #f6f9fc;
  color: #344767;
  box-shadow: inset 3px 0 0 #7366e4;
}
